@model Project.ViewModels.Account.LogInViewModel

@{
    ViewData["Title"] = "LogIn";
}

<h1>LogIn</h1>

<form asp-action="LogIn" method="post">

    <input asp-for="Email"/>
    <input asp-for="Password" />
    <input type="submit" value="login" />
</form>
